*{
    margin: 0%;
    padding: 0%;
}

.main-hiden{
    display: none;
}

.btn1{
    width:  200px;
    height:  38px;
    gap: 10px;
    opacity: 0px;
    color: black;
    background-color: whitesmoke;
}
.d1{
    display: flex;
}
.mainh{
    font-size: 80px;
    margin-left: 30px;
    margin-top: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
   font-family: Space Grotesk;
}
.para{
    font-size: 25px;
    margin-top: 0px;
    margin-left:20px ;
 
}
.botn1{
    width:  264px;
    height:  68px;
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border-radius: 14px 0px 0px 0px;
    opacity: 0px;
    color: white;
    background-color: black;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px 0px;
}
.btn3{
    width:  264px;
    height:  68px;
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border: none;
    opacity: 0px;
    color: black;
    background-color: #B9FF66; 
    margin-right: 19px;
}
.heading3{
    font-size: 20px;
}
.divv{
    display: flex;
}
.consulation{
    margin-left: 870px;
}
.consulation2{
    margin-left:710px ;
}
.consulation3{
    margin-left:850px ;
}
.consulation4{
    margin-left:750px ;
}
.consulation5{
    margin-left:750px ;
}
.consulation6{
    margin-left:800px ;
}
.maincollapse{
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 45px;

}

.main10{
    display: flex;
    gap: 350px;
    left: 105px;
}
.boxie{
    font-size: 25px;
    margin-left: 20px;
    width: 210px;
    margin-top: 9px;
    background-color: #B9FF66;
}
.box1{
background-color: whitesmoke;
    margin-left: 30px;
    width: 390px;
    height: 350px;
    margin-top: 30px;
}
.box2{
    background-color: #B9FF66;
    
    margin-left: 30px;
    width: 390px;
    height: 350px;
    margin-top: 30px;
    text-decoration: none;
}
.arrow{
    margin-top: 18px;
    margin-left: 19px;
}
.arow{
    margin-top: 2340px !important;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.click{
    font-size: 25px;
    margin-left: 20px;
    width: 210px;
    margin-top: 14px;
    background-color: #fefefe;
}
.d2{
    display: flex;
}
.arrow2{
    margin-top: 38px !important;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    margin-left: 8px;
}
.magnifier{
    margin-left: 170px;
    margin-top: 30px;
}
.illustration9{
    margin-left: 170px;
    margin-top: 30px;
}
.forms{
    background-color: whitesmoke;
    display: flex;
border-radius: 10px;
width: 70%;
margin-left: 150px;
margin-right: 150px;
margin-top: 70px;
}
.Mask{
    margin-left: 120px;
}
.box7{
    margin-left: 100px;
    margin-top: 30px;
}
.name{
    margin-top: 24px;
}
.email{
margin-top: 24px;
}
.msg{
    margin-top: 24px;
}
.Send{
    width:  300px;
    height:  58px;
   
    gap: 10px;

    opacity: 0px;
    color: white;
    background-color: black;
}

.iconic{
    color: white;
    text-decoration: none;
    margin-top: 30px !important;
}
.box61{
    background-color: #000000;
}
.second-nav{
    margin-top: 45px;
    background-color: black;
    margin-left: 84px;
    margin-right: 44px;
}
.navbar-1{
    color: white;
    text-decoration: none;
}
.navbar-2{
    margin-left: 50px;
    color: #F3F3F3;
}
.navbar-3{
    margin-left: 50px;
    color: #F3F3F3;
}
.navbar-4{
    margin-left: 60px;
    color: #F3F3F3;
}
.navbar-5{
    margin-left: 50px;
    color: #F3F3F3;
}
.navbar-6{
    margin-left: 250px;
    color: #F3F3F3;
}
.social1{
    margin-left: 150px;
}
.last1 .last2{
    display: flex;
}
.last{
    display: flex;
    background-color: #000000;
}
.pg8 .pg9{
    display: flex;
}
hr{
    color: white;
}
.navn{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.pg1{
    margin-top: 25px;
    background-color: #B9FF66;
    margin-left: 80px;
    margin-right: 250px;

}
.pg2{
    margin-top:15px ;
    color: #fefefe;
    margin-left: 30px;
}
.pg3{
    margin-top:15px ;
    color: #fefefe;
    margin-left: 30px;
}
.pg4{
    margin-top:15px ;
    color: #fefefe;
    margin-left: 30px;
}
.pg5{
    margin-top:15px ;
    color: #fefefe;
    margin-left: 30px;
}
.pg6{
    color: #fefefe;
    background-color: #000000;
    margin-left: 40px;
}
.pg7{
    width:  264px;
    height:  68px;
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border: none;
    opacity: 0px;
    color: black;
    background-color: #B9FF66; 
 
    margin-left: 50px;
}
.pg8 .pg9{
    display: flex;
}
.pg8{
    color: #F3F3F3;
}
.pg9{
color:  #F3F3F3;
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .navbar-brand{
        display: none;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .btn1{
        display: none;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .navbar-1{
     text-align: center;
    }
} @media  screen and (max-width: 700px) and (min-width:390px)
{
    .box61{
        text-align: center;
        align-items: center;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .navbar-2{
      text-align: center;
      margin-left: 2px;
      display: block;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
.pg6 .pg7
    {
    display: block;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
.pg6
    {
   margin-left: 4px;
   width: 200px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
.pg7
    {
   margin-left: 8px;
   width: 200px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .sociall{
      text-align: center;
     margin-right: 97px;
      display: flex;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .navbar-4{
      align-items: center;
      text-align: center;
      display: block;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .navbar-5{
      align-items: center;
      text-align: center;
      display: block;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .navbar-6{
      align-items: center;
      text-align: center;
   margin-left: 2px;
   display: block;
    }
} 
.toogle-btn{
    display: none;
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .toogle-btn{
        display: flex;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .navn{
        display: flex; 
        font-size: 25px;
    }
} 
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .mainh
    {
        font-size: 50px;
        margin-left: 25px;
        margin-top: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 50px;
    }
    }
    @media  screen and (max-width: 700px) and (min-width:390px)
{
.d2
    {
       display: inline;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
.d3
    {
       display: inline;
    margin-right: 740px;

}
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .image
    {
 width: 350px;
 padding-left:0px;
 margin-top: 25px;
    }


}
@media screen and (max-width: 700px) and (min-width:390px)
{
    .main-hiden
    {
     display: block;
     margin-top: 10px;
     color: grey;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .botn1
    {
      width: 400px;
      font-size: 20px;
      margin-right: 10px
    }

}

@media  screen and (max-width: 700px) and (min-width:390px)
{
    .navbar--2
    {
   display: none;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .divv
    {
       display: inline;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .btn3
    {
        width: 280px;
        height: 57px;
        font-size: 22px;
        margin-left: 65px;
        text-align: center;
    margin-top: 9px;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .hidenn
    {
     color: #000000;
    
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .heading3
    {
    margin-top: 10px;
    text-align: center;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
.main10{
    display: block;
}
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .click
    {
    margin-top: 10px;
    text-align: center;
    }

}
.newbox{
    display: inline;
    left: 23px;
}
.boxx1{
    background-color: #B9FF66;
    margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 24px;
  
}
.heading9{
   margin-left: 30px;
   font-size: 30px;
   margin-top: 16px;
}
.heading5{
    margin-left: 30px;
    font-size: 30px;
    margin-top: 16px;
 }
.heading3{
    margin-left: 30px;
    font-size: 30px;
 
 }
.heading10{
    margin-left: 30px;
    font-size: 30px;
    margin-top: 6px;
 }
.minus1{
    margin-left: 900px;
}
.plus1{
    margin-left: 580px;
    margin-top: 5px;
}
.plus2{
    margin-left: 850px;
    margin-top: 5px;
}
.plus3{
    margin-left: 670px;
  
}
.plus4{
    margin-left: 670px;
  
}
.plus5{
    margin-left: 750px;
  
}
.end{
    display: flex;
}
.btn4{
    color: black;
        background-color: #B9FF66;
        border: none;
        margin-top: 20px;
        margin-left: 20px;
        height: 60px;
        width: 150px;
}
.heading4{
    margin-left: 30px;
    font-size: 30px;
    margin-top: 16px;
 }
 .heading55{
    margin-left: 30px;
    font-size: 30px;
    margin-top: 16px;
 }
 .heading66{
    margin-left: 30px;
    font-size: 30px;
    margin-top: 16px;
 }
.p5{
    font-size: 23px;
    text-align: center;
    
}
.boxx2{
    background-color:  #F3F3F3;
    height: 100px;
    color: #000000;
    margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 14px;
}

.boxx3{
    background-color:  #F3F3F3;
    height: 100px;
    color: #000000;
    margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 14px;
}
.boxx55{
    background-color:  #F3F3F3;
    height: 100px;
    color: #000000;
    margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 14px;
}
.boxx66{
    background-color:  #F3F3F3;
    height: 100px;
    color: #000000;
    margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 14px;
}


.boxx4{
    background-color:  #F3F3F3;
    height: 100px;
    color: #000000;
    margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 14px;
}
.boxx5{
    color: white;
    background-color: grey;
height: 160px;
margin-top: 30px;
}
.boxx6{
    color: white;
    background-color: grey;
height: 160px;
margin-top: 30px;
}
@media screen and (max-width: 700px) and (min-width:390px)
{
    .end
    {
    display: block;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .btn4
    {
        width: 280px;
        height: 57px;
        font-size: 22px;
        margin-left: 65px;
        text-align: center;
    margin-top: 9px;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
    .heading44
    {
   margin-left: 49px;
   width: 390px;
   margin-top: 5px;
    }

}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .forms
    {
 margin-left: 10px;
 background-color: whitesmoke;
 display: flex;
border-radius: 10px;
width: 95%;
margin-top: 70px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .name
    {
 margin-left: 0px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .textarea
    {
width: 9px;
height: 7px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .send
    {
 margin-left: 6px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .minus1
    {
margin-left: 30px;
    }
}
@media screen and (max-width: 700px) and (min-width:390px)
{
 .p5
    {
display: none;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .heading10
    {
font-size: 15px;
margin-left: 2px;
margin-top: 5px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .plus1
    {
margin-left: 10px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .heading3
    {
font-size: 15px;
margin-left: 6px;
margin-top: 5px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .plus2
    {
margin-left: 130px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .heading4
    {
font-size: 15px;
margin-left: 6px;
margin-top: 5px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .plus3
    {
margin-left: 25px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .heading55
    {
font-size: 15px;
margin-left: 6px;
margin-top: 5px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .plus4
    {
margin-left: 25px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .heading66
    {
font-size: 15px;
margin-left: 6px;
margin-top: 5px;
    }
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .plus5
    {
margin-left: 85px;
    }
}
.heading44{
    margin-top: 5px;
    margin-left: 10px;
}
@media  screen and (max-width: 700px) and (min-width:390px)
{
 .Mask
    {
display: none;
    }
}
